<section class="child-news">
  <div class="container">
    <h2 class="child-news__title">Новости о Камилле</h2>
    <ul class="child-news__cards" role="none">
      <li class="card child-news__card">
        <a href="#!" class="news-link">
          <div class="date">12.12.2021</div>
          <h3 class="title">Каммила успешно учится дома</h3>
        </a>
      </li>
      <li class="card child-news__card">
        <a href="#!" class="news-link">
          <div class="date">12.12.2021</div>
          <h3 class="title">Каммила успешно учится дома</h3>
        </a>
      </li>
      <li class="card child-news__card">
        <a href="#!" class="news-link">
          <div class="date">12.12.2021</div>
          <h3 class="title">Каммила успешно учится дома</h3>
        </a>
      </li>
      <li class="card child-news__card">
        <a href="#!" class="news-link">
          <div class="date">12.12.2021</div>
          <h3 class="title">Каммила успешно учится дома</h3>
        </a>
      </li>
    </ul>
  </div>
</section>