<section class="child-section">
  <div class="container">
    <nav aria-label="breadcrumb" class="breadcrumb">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a href="index.html" class="breadcrumb__link">
            Главная
          </a>
        </li>
        <li class="breadcrumb__item">
          <span class="breadcrumb__slash">/</span>
          <a href="#!" class="breadcrumb__link">
            Кому помочь?
          </a>
        </li>
        <li class="breadcrumb__item">
          <span class="breadcrumb__slash">/</span>
          <a href="#!" class="breadcrumb__link breadcrumb__link--current">
            Камилла Габдуллина
          </a>
        </li>
      </ol>
    </nav>

    <div class="child-section__title">Кому помочь?</div>
    <p class="child-section__info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quis tristique nisi, donec mollis nisi sodales cras
      facilisis. Elit accumsan sed mauris vitae. Sed lectus nulla eget lobortis suspendisse mattis. Viverra diam nulla
      nibh at
      egestas sed enim nisl.
    </p>

    <div class="child-section__body">
      <!-- Слайдер -->
      <div class="slider">
        <div class="swiper slider__main">
          <div class="swiper-wrapper">
            <div class="swiper-slide ibg">
              <div class="embed-youtube" data-video-id="2knO_yUy2hE">
                <button type="button" class="embed-youtube__play">
                  <svg width="56" height="56">
                    <use xlink:href="#play" />
                  </svg>
                </button>
                <div class="heart-icon">
                  <svg width="24" height="24">
                    <use xlink:href="#heart" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper-slide ibg">
              <img src="img/child-slide-test.jpg" alt="" />
              <div class="heart-icon">
                <svg width="24" height="24">
                  <use xlink:href="#heart" />
                </svg>
              </div>
            </div>
            <div class="swiper-slide ibg">
              <img src="img/child-slide-test.jpg" alt="" />
              <div class="heart-icon">
                <svg width="24" height="24">
                  <use xlink:href="#heart" />
                </svg>
              </div>
            </div>
            <div class="swiper-slide ibg">
              <img src="img/child-slide-test.jpg" alt="" />
              <div class="heart-icon">
                <svg width="24" height="24">
                  <use xlink:href="#heart" />
                </svg>
              </div>
            </div>
            <div class="swiper-slide ibg">
              <img src="img/child-slide-test.jpg" alt="" />
              <div class="heart-icon">
                <svg width="24" height="24">
                  <use xlink:href="#heart" />
                </svg>
              </div>
            </div>

          </div>
        </div>

        <div class="slider__thumbs-wrapper">
          <button type="button" class="swiper-button-prev">
            <svg width="18" height="16">
              <use xlink:href="#arrow" />
            </svg>
          </button>

          <div thumbsSlider="" class="swiper slider__thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide ibg">
                <img src="img/child-slide-test.jpg" alt="" />
              </div>
              <div class="swiper-slide ibg">
                <img src="img/child-slide-test.jpg" alt="" />
              </div>
              <div class="swiper-slide ibg">
                <img src="img/child-slide-test.jpg" alt="" />
              </div>
              <div class="swiper-slide ibg">
                <img src="img/child-slide-test.jpg" alt="" />
              </div>
              <div class="swiper-slide ibg">
                <img src="img/child-slide-test.jpg" alt="" />
              </div>
            </div>
          </div>

          <button type="button" class="swiper-button-next">
            <svg width="18" height="16">
              <use xlink:href="#arrow" />
            </svg>
          </button>
        </div>
      </div>

      <!-- Информация о ребёнке -->
      <div class="card child-aside">
        <h1 class="child-aside__title">Камилла Габдуллина</h1>
        <div class="child-aside__age">4 года</div>

        <!-- Информаия о ребёнке -->
        <div class="child-aside__info">
          <div class="label">Диагноз</div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl cursus nulla tincidunt leo. Viverra nunc
            scelerisque
            lobortis senectus lorem. Nec enim aliquam morbi ornare faucibus.
          </p>
        </div>
        <div class="child-aside__info">
          <div class="label">Необходимо</div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl cursus nulla tincidunt leo. Viverra nunc
            scelerisque
            lobortis senectus lorem. Nec enim aliquam morbi ornare faucibus.
          </p>
        </div>

        <!-- Ссылки на документы -->
        <div class="child-aside__docs">
          <div class="label">Документы</div>
          <div class="docs">
            <a href="#!" class="docs__link" download="doc.pdf">
              <svg width="12" height="16">
                <use xlink:href="#document" />
              </svg>
              <span>Медзкалючение</span>
            </a>
            <a href="#!" class="docs__link" download="doc.pdf">
              <svg width="12" height="16">
                <use xlink:href="#document" />
              </svg>
              <span>Справки</span>
            </a>
          </div>
        </div>

        <!-- Цель сбора и прогресс -->
        <div class="child-aside__goal">
          <div class="goal">
            <div class="goal__target">
              <div class="label">Необходимо</div>
              <div class="sum">14 00 000</div>
            </div>
            <div class="goal__raised">
              <div class="label">Собрано</div>
              <div class="sum">11 00 000</div>
            </div>
          </div>
          <div class="progress">
            <div class="progress__bar" style="width: 70%"></div>
          </div>
        </div>

        <button type="button" class="button button--primary child-aside__btn">Помочь!</button>
      </div>
    </div>
  </div>
</section>