<section class="child-story">
  <div class="container">
    <div class="card child-story__body">
      <h2 class="child-story__title">История ребенка</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque adipiscing egestas felis viverra ut sit. Augue
        maecenas
        donec cras etiam dignissim euismod ipsum gravida. Rhoncus neque at phasellus fusce. Diam cras viverra eget
        pharetra,
        tellus tincidunt risus pellentesque. Aliquet habitasse eget tincidunt purus purus facilisi. Dis vitae sit
        iaculis
        lectus
        malesuada quis vitae eget. Mauris senectus nunc dignissim sit ac eget. Sed habitasse morbi neque ac faucibus non
        consectetur massa pellentesque. A dignissim amet, magnis cursus felis donec lacus id at. Mi fringilla quam proin
        eget.
        Laoreet vestibulum sed sed amet non tincidunt ipsum felis egestas. <br>
        Semper tincidunt scelerisque amet nunc placerat diam vel risus eget. Suscipit nulla at tortor nulla duis
        tristique
        id.
        Facilisis nulla scelerisque massa sit sagittis. Enim ultrices venenatis mi, quisque quis in non. Massa convallis
        orci at
        porta nisl id et ornare turpis. Id faucibus aliquet pretium placerat faucibus. Molestie tempor mauris mauris
        faucibus
        neque aliquam ultrices semper. Cursus sagittis morbi est aliquam sit rhoncus, massa, lorem auctor. Ac quis
        nullam
        feugiat semper amet justo, nam nisi, quisque. In arcu sit nunc fames velit neque sed at. <br>
        Eu nunc vulputate sit risus, ultricies dignissim congue nunc non. Proin sodales tempus neque diam pellentesque
        at
        molestie consectetur velit. Pulvinar at turpis felis ornare.
      </p>

      <div class="child-story__blockquote">
        <svg width="52" height="32" class="icon">
          <use xlink:href="#quote" />
        </svg>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem elit sit donec sit interdum diam. Rhoncus lectus
          hac
          laoreet faucibus pharetra tristique tortor, vel malesuada. Placerat egestas parturient enim, ac et nisi non.
          Non,
          eleifend magna at donec laoreet et senectus. Sit non nec a nunc, ac bibendum. Donec lobortis id amet felis.
        </p>
      </div>

      <h2 class="child-story__title child-story__title--secondary">Обращение семьи</h2>

      <div class="embed-youtube ibg" data-video-id="2knO_yUy2hE">
        <button type="button" class="embed-youtube__play">
          <svg width="56" height="56">
            <use xlink:href="#play" />
          </svg>
        </button>
        <div class="heart-icon">
          <svg width="24" height="24">
            <use xlink:href="#heart" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>