<footer class="footer">
  <div class="footer__top">
    <div class="container footer-top__container">
      <div class="footer__details">
        <div class="logo">
          <svg width="181" height="54">
            <use xlink:href="#logo" />
          </svg>
        </div>
        <div class="location footer__detail">
          <div class="location__icon">
            <svg width="17" height="20">
              <use xlink:href="#location" />
            </svg>
          </div>
          <address class="location__info">
            190005, Санкт-Петербург, ул. 3-я Красноармейская, д. 8, лит. В (ст. м. «Технологический институт»)
          </address>
        </div>
        <div class="phone footer__detail">
          <div class="phone__icon">
            <svg width="20" height="20">
              <use xlink:href="#phone" />
            </svg>
          </div>
          <p class="phone__links">
            <a href="tel:88002008432" class="phone__link">8 (800) 200-84-32</a>,
            <a href="tel:88126798393" class="phone__link">8 (812) 679-83-93</a>
          </p>
        </div>
        <div class="email footer__detail">
          <div class="email__icon">
            <svg width="20" height="18">
              <use xlink:href="#email" />
            </svg>
          </div>
          <a href="mailto:help@mail.ru" class="email__link">help@mail.ru</a>
        </div>
      </div>

      <div class="footer__menu">
        <!-- Ссылки меню -->
        <div class="footer__links">
          <div class="menu-wrappers">
            <ul class="menu menu-wrapper" role="menu">
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Кому помочь</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Новости</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Как помочь</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Поступления</a>
              </li>
            </ul>
            <ul class="menu menu-wrapper" role="menu">
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">О фонде</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Отчеты фонда</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Акции</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link" role="menuitem">Программы</a>
              </li>
            </ul>
          </div>

          <ul class="menu menu-wrapper-side" role="menu">
            <li class="menu__item" role="none">
              <a href="#!" class="menu__link" role="menuitem">Спасенные дети</a>
            </li>
            <li class="menu__item" role="none">
              <a href="#!" class="menu__link" role="menuitem">Заявка на помощь</a>
            </li>
            <li class="menu__item" role="none">
              <a href="#!" class="menu__link" role="menuitem">Статьи</a>
            </li>
            <li class="menu__item" role="none">
              <a href="#!" class="menu__link" role="menuitem">Публичная оферта</a>
            </li>
          </ul>
        </div>


        <small class="footer__warning">
          Благотворительный фонд «Наши Дети-Наше будущее» использует сайт <a href="https://nashideti.fund/"
            class="link">https://nashideti.fund/</a> для сбора не облагаемых налогом
          пожертвований, ОГРН 1197800003334 целевое финансирование (140)
        </small>
      </div>
    </div>
  </div>

  <!-- Ссылки на соц сети и политику конфиденциальности -->
  <div class="footer__bottom">
    <div class="container footer-bottom__container">
      <ul class="social-links" role="none">
        <li class="social-link">
          <a href="#!">
            <svg width="32" height="33">
              <use xlink:href="#instagram" />
            </svg>
          </a>
        </li>
        <li class="social-link">
          <a href="#!">
            <svg width="32" height="33">
              <use xlink:href="#facebook" />
            </svg>
          </a>
        </li>
        <li class="social-link">
          <a href="#!">
            <svg width="32" height="33">
              <use xlink:href="#vk" />
            </svg>
          </a>
        </li>
        <li class="social-link">
          <a href="#!">
            <svg width="32" height="33">
              <use xlink:href="#instagram" />
            </svg>
          </a>
        </li>
      </ul>
      <div class="terms">
        <a href="#!" class="terms-item">Политика конфиденциальности</a>
        <a href="#!" class="terms-item">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>