<section class="about-block section-padding">
  <div class="container about-block__container">
    <div class="about-block__info">
      <h2 class="section-title about-block__title">О фонде</h2>
      <h3 class="about-block__subtitle">
        <span class="highlight">Доброта</span> - самый ценный ресурс!
      </h3>
      <p class="about-block__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quis tristique nisi, donec mollis nisi sodales cras
        facilisis. Elit accumsan sed mauris vitae. Sed lectus nulla eget lobortis suspendisse mattis. Viverra diam nulla
        nibh at
        egestas sed enim nisl. Aenean sed sed elementum tempor, elit. Id pretium suspendisse aliquam a elit est
        convallis odio.
        Nunc massa ut cursus sem nisi elementum vestibulum, augue. Commodo turpis quis vitae ac, faucibus sit eu, enim.
      </p>
    </div>

    <div class="about-block__video">
      <div class="embed-youtube ibg" data-video-id="2knO_yUy2hE">
        <button type="button" class="embed-youtube__play">
          <svg width="56" height="56">
            <use xlink:href="#play" />
          </svg>
        </button>
        <div class="heart-icon">
          <svg width="24" height="24">
            <use xlink:href="#heart" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>