<section class="documents-block section-padding">
  <div class="container">
    <h2 class="section-title documents-block__title">Официальные документы</h2>
    <div class="documents-block__body">
      <div class="documents-block__scans">
        <a href="#pdf" class="scan" download rel="noopener noreferrer" target="_blank">
          <div class="scan__image ibg">
            <img src="../img/scan.jpg" alt="" draggable="false">
          </div>
          <h3 class="scan__title">Свидетельство о регистрации</h3>
        </a>
        <a href="#pdf" class="scan" download rel="noopener noreferrer" target="_blank">
          <div class="scan__image ibg">
            <img src="../img/scan.jpg" alt="" draggable="false">
          </div>
          <h3 class="scan__title">Свидетельство о регистрации</h3>
        </a>
        <a href="#pdf" class="scan" download rel="noopener noreferrer" target="_blank">
          <div class="scan__image ibg">
            <img src="../img/scan.jpg" alt="" draggable="false">
          </div>
          <h3 class="scan__title">Свидетельство о регистрации</h3>
        </a>
        <a href="#pdf" class="scan" download rel="noopener noreferrer" target="_blank">
          <div class="scan__image ibg">
            <img src="../img/scan.jpg" alt="" draggable="false">
          </div>
          <h3 class="scan__title">Свидетельство о регистрации</h3>
        </a>
        <a href="#pdf" class="scan" download rel="noopener noreferrer" target="_blank">
          <div class="scan__image ibg">
            <img src="../img/scan.jpg" alt="" draggable="false">
          </div>
          <h3 class="scan__title">Свидетельство о регистрации</h3>
        </a>
      </div>
      <div class="info-block">
        <p class="info-block__text">
          Мы знаем, как важно быть уверенным в том, что выбранный фонд помощи нуждающимся детям будет честным, а
          собранные
          пожертвования будут направлены точно по адресу.
        </p>
        <div class="info-block__item">
          <div class="label">Учетный номер</div>
          <div class="value">3523 23523 2352 25</div>
        </div>
        <div class="info-block__item">
          <div class="label">ОГРН</div>
          <div class="value">23523 23523 23</div>
        </div>
        <a href="#!" class="info-block__link">Отчеты фонда</a>
      </div>
    </div>
  </div>
</section>