<section class="help-block">
  <div class="container">
    <h2 class="section-title help-block__title">Нам помогают</h2>
    <div class="help-block__slider">
      <button class="swiper-button-prev help-block__prev">
        <svg width="18" height="16">
          <use xlink:href="#arrow" />
        </svg>
      </button>

      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide partner-card">
            <div class="card partner-card__image">
              <img src="../../img/partner.jpg" alt="">
            </div>
            <h3 class="partner-card__title">
              Сервис ГрузовичкоФ
            </h3>
            <p class="partner-card__info">
              Проведение благотворительной акции в поддержку детей.
            </p>
          </div>
          <div class="swiper-slide partner-card">
            <div class="card partner-card__image">
              <img src="../../img/partner.jpg" alt="">
            </div>
            <h3 class="partner-card__title">
              Сервис ГрузовичкоФ
            </h3>
            <p class="partner-card__info">
              Проведение благотворительной акции в поддержку детей.
            </p>
          </div>
          <div class="swiper-slide partner-card">
            <div class="card partner-card__image">
              <img src="../../img/partner.jpg" alt="">
            </div>
            <h3 class="partner-card__title">
              Сервис ГрузовичкоФ
            </h3>
            <p class="partner-card__info">
              Проведение благотворительной акции в поддержку детей.
            </p>
          </div>
          <div class="swiper-slide partner-card">
            <div class="card partner-card__image">
              <img src="../../img/partner.jpg" alt="">
            </div>
            <h3 class="partner-card__title">
              Сервис ГрузовичкоФ
            </h3>
            <p class="partner-card__info">
              Проведение благотворительной акции в поддержку детей.
            </p>
          </div>
          <div class="swiper-slide partner-card">
            <div class="card partner-card__image">
              <img src="../../img/partner.jpg" alt="">
            </div>
            <h3 class="partner-card__title">
              Сервис ГрузовичкоФ
            </h3>
            <p class="partner-card__info">
              Проведение благотворительной акции в поддержку детей.
            </p>
          </div>
          <div class="swiper-slide partner-card">
            <div class="card partner-card__image">
              <img src="../../img/partner.jpg" alt="">
            </div>
            <h3 class="partner-card__title">
              Сервис ГрузовичкоФ
            </h3>
            <p class="partner-card__info">
              Проведение благотворительной акции в поддержку детей.
            </p>
          </div>
        </div>
      </div>

      <button class="swiper-button-next help-block__next">
        <svg width="18" height="16">
          <use xlink:href="#arrow" />
        </svg>
      </button>
    </div>
  </div>
</section>