<section class="need-help section-padding">
  <div class="container">
    <h2 class="section-title need-help__title">Дети ждут помощи</h2>
    <div class="need-help__cards">
      <!-- Карточка с ребёнком, выделенная -->
      <article class="child-card child-card--highlighted">
        <header class="child-card__header">
          <div class="child-card__image ibg">
            <!-- Фотография ребёнка -->
            <img src="../img/child-photo.jpg" alt="" draggable="false">

            <div class="heart-icon child-card__icon">
              <svg width="24" height="24">
                <use xlink:href="#heart" />
              </svg>
            </div>

            <!-- Плашка срочного сбора -->
            <div class="child-card__urgent">
              <div class="icon">
                <svg width="22" height="23">
                  <use xlink:href="#hand" />
                </svg>
              </div>
              <div class="label">Срочный сбор</div>
            </div>
          </div>
          <h3 class="child-card__title">Камилла Габдуллина</h3>
          <div class="child-card__subtitle">4 года</div>
        </header>

        <div class="child-card__body">
          <div class="child-card__goal">
            <div class="goal">
              <div class="goal__target">
                <div class="label">Необходимо</div>
                <div class="sum">14 00 000</div>
              </div>
              <div class="goal__raised">
                <div class="label">Собрано</div>
                <div class="sum">10 00 000</div>
              </div>
            </div>
            <div class="progress">
              <div class="progress__bar" style="width: 60%;"></div>
            </div>
          </div>

          <!-- Информация о диагнозе и требованиях -->
          <div class="child-card__info">
            <div class="label">диагноз</div>
            <p class="text">Neque montes nunc quis faucibus enim vel at.</p>
          </div>
          <div class="child-card__info required">
            <div class="label">Требуется</div>
            <p class="text">Neque montes nunc quis faucibus enim vel at.</p>
          </div>

          <a href="#!" class="button button--primary child-card__help-link">Помочь!</a>
          <a href="#!" class="button button--red child-card__about-link">О ребенке</a>
        </div>
      </article>

      <!-- Карточка с ребёнком -->
      <article class="child-card">
        <header class="child-card__header">
          <div class="child-card__image ibg">
            <!-- Фотография ребёнка -->
            <img src="../img/child-photo.jpg" alt="" draggable="false">

            <div class="heart-icon child-card__icon">
              <svg width="24" height="24">
                <use xlink:href="#heart" />
              </svg>
            </div>
          </div>
          <h3 class="child-card__title">Камилла Габдуллина</h3>
          <div class="child-card__subtitle">4 года</div>
        </header>

        <div class="child-card__body">
          <div class="child-card__goal">
            <div class="goal">
              <div class="goal__target">
                <div class="label">Необходимо</div>
                <div class="sum">14 00 000</div>
              </div>
              <div class="goal__raised">
                <div class="label">Собрано</div>
                <div class="sum">11 00 000</div>
              </div>
            </div>
            <div class="progress">
              <div class="progress__bar" style="width: 70%"></div>
            </div>
          </div>

          <!-- Информация о диагнозе и требованиях -->
          <div class="child-card__info">
            <div class="label">диагноз</div>
            <p class="text">Neque montes nunc quis faucibus enim vel at.</p>
          </div>
          <div class="child-card__info required">
            <div class="label">Требуется</div>
            <p class="text">Neque montes nunc quis faucibus enim vel at.</p>
          </div>

          <a href="#!" class="button button--primary child-card__help-link">Помочь!</a>
          <a href="#!" class="button button--red child-card__about-link">О ребенке</a>
        </div>
      </article>
    </div>
    <a href="#!" class="button button--secondary need-help__btn">Все истории детей</a>
  </div>
</section>