<section class="news-block section-padding">
  <div class="container">
    <h2 class="section-title news-block__title">Новости о детях</h2>

    <p class="news-block__info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quis tristique nisi, donec mollis nisi sodales cras
      facilisis. Elit accumsan sed mauris vitae. Sed lectus nulla eget lobortis suspendisse mattis. Viverra diam nulla
      nibh at
      egestas sed enim nisl.
    </p>

    <form action="#!" class="form news-block__form">
      <div class="form__body">
        <p class="form__info">
          В большом потоке информации сложно не упустить что-то важное. Оформите подписку, и вы первыми узнаете: о
          срочных сборах
          тяжелобольным детям, о благотворительных акциях и мероприятиях, об успехах наших подопечных.
        </p>

        <div class="form__content">
          <label for="news_subscribe" class="screen-reader">Ваш email</label>
          <input type="email" class="form__input" id="news_subscribe" placeholder="Ваш email">
          <button type="submit" class="button button--secondary form__submit">
            Подписаться на новости
          </button>
        </div>
      </div>
    </form>

    <div class="news-block__cards">
      <!-- Карточка статьи -->
      <article class="news-card">
        <a href="#!" class="news-card__link">
          <header class="news-card__header">
            <div class="news-card__image ibg">
              <!-- Фотография новости -->
              <img src="../img/news-photo.jpg" alt="" draggable="false">
              <div class="heart-icon news-card__icon">
                <svg width="24" height="24">
                  <use xlink:href="#heart" />
                </svg>
              </div>
            </div>
            <div class="news-card__date">12.12.2021 09:45</div>
          </header>

          <div class="news-card__body">
            <h3 class="news-card__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu, donec vulputate
            </h3>
            <p class="news-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu, donec vulputate lobortis ornare quis sit.
              Vulputate
              ultricies pretium.
            </p>
          </div>
        </a>
      </article>

      <!-- Карточка статьи -->
      <article class="news-card">
        <a href="#!" class="news-card__link">
          <header class="news-card__header">
            <div class="news-card__image ibg">
              <!-- Фотография новости -->
              <img src="../img/news-photo.jpg" alt="" draggable="false">
              <div class="heart-icon news-card__icon">
                <svg width="24" height="24">
                  <use xlink:href="#heart" />
                </svg>
              </div>
            </div>
            <div class="news-card__date">12.12.2021 09:45</div>
          </header>

          <div class="news-card__body">
            <h3 class="news-card__title">
              Lorem ipsum dolor sit amet.
            </h3>
            <p class="news-card__text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis possimus hic, eveniet minus totam
              ad
              perspiciatis! A, culpa nisi officia recusandae delectus architecto, molestiae, esse itaque ratione vel
              illum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </a>
      </article>
    </div>

    <a href="#!" class="button button--secondary news-block__btn">Все новости</a>
  </div>
</section>