<div class="hystmodal" id="confirm_popup" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="confirm-popup card hystmodal__window" role="dialog" aria-modal="true">
      <button data-hystclose class="hystmodal__close"></button>

      <div class="confirm-popup__body">
        <div class="fail-icon">
          <svg width="45" height="44">
            <use xlink:href="#question" />
          </svg>
        </div>

        <h2 class="title">Вы уверенны?</h2>
        <p class="message">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quis tristique nisi, donec mollis nisi sodales
          cras
          facilisis.
        </p>

        <button type="button" class="button button--primary confirm" data-hystclose class="hystmodal__close">
          Подтвердить
        </button>
        <button type="button" class="cancel" data-hystclose class="hystmodal__close">Отмена</button>
      </div>
    </div>
  </div>
</div>