<div class="hystmodal" id="success_popup" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="success-popup card hystmodal__window" role="dialog" aria-modal="true">
      <button data-hystclose class="hystmodal__close"></button>

      <div class="success-popup__body">
        <div class="success-icon">
          <svg width="33" height="41">
            <use xlink:href="#thumbup" />
          </svg>
        </div>

        <h2 class="title">Вы успешно подписались на новость</h2>
      </div>
    </div>
  </div>
</div>